.btn {
    height: 45px;
    background: $main-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding: 12px 25px;
    border-radius: 10px;
    transition: 0.3s all;
    &:hover {
        background-color: rgb(17, 184, 131);;
    }
}