.portfolio {
    padding: 60px 0 30px 0;
    &__title {
        position: relative;
        text-align: center;
        @include before_circle;
        &:before {
            top: -6px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__subtitle {
        text-align: center;
    }
    &__wrapper {
        margin-top: 60px;
        display: grid;
        grid-template-columns: 350px 350px;
        justify-content: space-around;
        .vertical {
            grid-row: 1 / 3;
            grid-column: 4 / 5;
        }
        .horizonal {
            grid-row: 2 / 3;
            grid-column: 2 / 4;
        }
    }
    &__item {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: 0.5s all;
            border-radius: 10px;
        }
        :hover {
            transform: scale(1.05);
        }
    }
}