
@keyframes kite-1 {

    0% {
        transform:translate(0);
    }
  50% {
     
      transform:translate(-50px,-80px) ;
    }
  100% {
      transform:translate(0);
    } 
}

@keyframes kite-2 {

    0% {
        transform:translate(0);
    }
  50% {
     
      transform:translate(-50px,-80px) ;
    }
  100% {
      transform:translate(0);
    } 
}

@keyframes kite-3 {

    0% {
        transform:translate(0);
    }
  50% {
     
      transform:translate(-50px,-80px) ;
    }
  100% {
      transform:translate(0);
    } 
}

